version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Test pipeline
          command: echo "pipeline works!"

workflows:
  main-workflow:
    jobs:
      - build-and-test
      
